<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form method="post" action="/tiezi/huifudo">
	    <p>
            <textarea rows="10" cols="30" id="tiecontent" name="tiecontent" placeholder="请输入回复的内容！......"></textarea>
        </p>
        <p>
            <input type="hidden" name="baid" value={$select.ba_id}>
        </p>
        {if condition="$select.ptie == 0"}
        <p>
            <input type="hidden" name="tieid" value={$select.tieid}>
        </p>
        <p>
            <input type="hidden" name="quotetie" value=0>
        </p>
        {else/}
        <p>
            <input type="hidden" name="tieid" value={$select.ptie}>
        </p>
        <p>
        	 <input type="hidden" name="quotetie" value={$select.tieid}>
        </p>
        {/if}
        <p>
            <input type="submit" name="buttonSubmit" value="确认回复" />
        </p>
</body>
</html>